/* ---- Ajustes generales del documento ---- */

html{
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: wheat;
}

h1, h2, h3 {
  font-family: "Times New Roman", serif;
}

p {
  font-size: 125%;
  font-family: Arial, sans-serif;
}

/* --- Esta sección del codigo nos muestra las configuraciones estándar del header y del logo para todas las páginas --- */

header {
  width: 100%;
  height: 110px;
  margin: -1;
  padding: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo img {
  height: 100px;
  width: 100px;
}

#iconos {
  height: 50px;
  width: 50px;
}

header h1 {
  margin: auto;
  color: black;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid black;
  opacity: 1;
}



/* --- Ajustes del nav para todas las paginas --- *./
/* arreglar para que toda la celda sea el link */

nav {
  display: flex;
}

.nav-celda {
  flex-basis: 19%;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  background-color: #4773C4;
}


/* Este id lo hacemos para que Home no ocupe tanto espacio porque es un boton mas pequeno */
#home{
  flex-basis: 5%;
}

/* - Este nav-celda-pagina tiene un color diferente y lo usamos para indicarle 
al usuario en que pagina se encuentra. - */

.nav-celda-pagina{
  flex-basis: 16%;
  text-align: left;
  padding: 10px;
  background-color: #6B4F11;
}

/* Interacciones de las celdas del nav */

.nav-celda:hover{
  background-color: #1C386B;
}

.nav-celda a , .nav-celda-pagina a{
  display: flex;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-family: monospace;
  font-size: 20px;
}

.nav-celda h4, .nav-celda-pagina h4  {
  margin: 1px;
  display: inline;
}


/* --- Ajustes de la pagina Home --- */


section{
}

.video{
  /* magia */
}

.video video {
  width: 200px;
  height: 200px;
}


/* --- Ajustes para las paginas que contengan un formulario --- */
.registros{
  display: table;
}


/* --- Pagina de Referencias --- */

/*-- Ajustes generales de la tabla periodica --*/
    table {
      border-collapse: collapse;
      font-family: monospace;
      font-size: 250%;
    
    }

/*- Elementos de la tabla periodica -*/
    
    .elemento {
      border: 2px solid black;
      padding: 0;
      margin: 0;
    
    }
    
    .elemento a {
      text-decoration: none;
      text-align: center;
      color: black;
      display: block;
      padding: 10px;
      target="_blank";
    
    }

/* Celda Vacia para mantener la forma de la tabla */

    .celda_vacia {
      padding: 12px;
    
    }

/*- Interacciones -*/

  .elemento a:hover{
  background-color: #031FA2 ;
  color: white;
}

/* Ids para darle los diferentes colores a los elementos */

    #no_metales {
      background-color: lightblue;
    }

    #met_alcalinos{
      background-color: lightcoral;
    }

    #met_alc_terreos{
      background-color: lightgoldenrodyellow;
    }

    #nobles{
      background-color: lightgreen;
    }

    #halogenos{
      background-color: lightpink;
    }

    #metaloides{
      background-color: lightsalmon;
    }

    #metales_p{
      background-color: lightskyblue;
    }

    #metales_d{
      background-color: lightgray;
    }

    #lantanidos {
      background-color: aquamarine;
    }

    #actinidos {
      background-color: turquoise;
    }



/* --- Pagina de contactos --- */

.contactos {
  /* magia */
}

.tarjeta{
  flex-direction: row;
  flex-basis: 30%;
}

.foto_perfil{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* --- Ajustes generales del footer --- */

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 165px;
  background-color: #16002A;
}


/* Por si el contenido no es lo suficiente para empujar el fondo hacia abajo*/
.footer-fondo {
  height: 185px;
  display: flex;
  position:absolute;
}

.logo-footer{
  margin: 0;
  padding: 0;
  opacity: .5;
}

.logo-footer img{
  width: 100px;
  height: 100px;
}

/* Interacciones */

/* Utilizamos una lista no ordenada para crear la lista de enlaces del footer */

footer ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

footer ul li {
  margin: 3px;
  color: #B3ADA1;
}

footer ul li a {
  text-decoration: none;
  color: #B3ADA1;
}

footer ul li a:hover {
  text-decoration: none;
  color: white;
}









