.grid{
margin: 4.5rem; 
display: flex; /* Overwrite del display */
flex-direction: row; /* Define como presento a los integrantes, en este caso horzontal */
}

/* CSS del título en las tarjetas */
.grid h3{
text-align: center;
font-family: 'Roboto Slab', serif;
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px; 
}

/* CSS de las descripciones en las tarjetas */
.description {
    font-size: 1.4rem;
    color: #666;
    text-align: justify;
    max-width: 300px; /* Evitar que se sobreestiren las tarjetas al introducir más información del integrante */
}

/* CSS de las tarjetas dentro de .grid */
.grid-container{
display: flex;
justify-content: start;/* Mantiene los items en el top al aumentar la descripción del integrante. */
align-items:center;
flex-direction: column; /* Presente el titulo, la imagen y la descripcion verticalmente */
}
.grid-container img {
width: auto; /* aspect ratio */
height: 400px; /* altura de cada imagen */
border-radius: 1.5rem;
}

